# Python
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
dist/
build/
.env
backend/.env
venv/
backend/venv/
database_files/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Node
node_modules/
.next/

# VS Code
.vscode/

# Docker
*.log

# OS
.DS_Store
Thumbs.db

.env.prod
